{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un client</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <div>
        <a href="{{ path('client_index') }}"><button>Voir la liste</button></a>
    </div>
{% endblock %}
