{% extends 'base.html.twig' %}

{% block layout %}
<nav>
    <div class ='menu'>
        <a href="{{path('homepage')}}"><img src={{ asset('public/pictures/logo.jpg') }} id ="logo"></img></a>
        <h1>Stars Rentals</h1>
    </div>
</nav>
{% endblock %}